{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support",
    "react-native"
  ],
  "env": {
    "test": {
      "presets":[
        ["es2015", { "modules": false }],
        "react",
        "stage-0",
        [
          "env",
          {
              "modules": "commonjs",
              "useBuiltIns": "usage",
              "debug": false
          }
        ]
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    },
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}